body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

.colorPrimary {
  background-color: #1c1c1c;
}

.colorPrimaryvariant {
  background-color: #424242;
}
.colorSecondary {
  background-color: #ff3838;
}

.colortertiary {
  background-color: #ff9e0d;
}

.colorquaternary {
  background-color: #8400a5;

}

.colorbox {
  background-color: #e5e5e5;
}

.searchbar {
  width: 400px;
}

.border {
  border-radius: 10%;
  border: 2px solid rgb(14, 14, 14);
}
.borderimg {
  border: 3px solid #8400a5;
  border-radius: 50%;
  background-color: white;
}

.borderprofile {
  border: 3px solid white;
  border-radius: 50%;
  background-color: white;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3838;
}

.thin::-webkit-scrollbar {
  width: 8px;
}

.box {
  position: static;
  overflow-y: scroll;
  height: 100%;
}

.nav-icon:hover {
  fill: #8400a5;
}

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #8400a5;
}

.text a {
  text-transform: uppercase;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", Arial, sans-serif;
  color: #000;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ff4242;
}
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ff9e0d;
}

.login-wrap {
  position: relative;
  background: #121212;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.login-wrap h3 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.login-wrap p {
  color: rgba(255, 255, 255, 0.5);
}
.login-wrap .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-group {
  position: relative;
}
.form-group .icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 48px;
  background: transparent;
  font-size: 18px;
}
.form-group .icon span {
  color: #fff;
}

.form-custom-control {
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.8) ;

  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ff4242;
  padding-left: 30px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-custom-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.form-custom-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}

.form-custom-control:focus,
.form-custom-control:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.07);
  border-color: #ff4242;
}

.redbutton:hover,
.redbutton:active,
.redbutton:focus {
  outline: none;
}
.redbutton {
  background: #ff4242;
  border: 1px solid #ff4242;
  color: #fff;
}

.redbutton:hover {
  border: 1px solid transparent;
  background: #8400a5;
  color: #fff;
}

.yellowbutton:hover,
.yellowbutton:active,
.yellowbutton:focus {
  outline: none;
}
.yellowbutton {
  background: #ff9e0d;
  border: 1px solid #ff9e0d;
  color: #fff;
}

.yellowbutton:hover {
  border: 1px solid transparent;
  background: #8400a5;
  color: #fff;
}

.blackbutton:hover,
.blackbutton:active,
.blackbutton:focus {
  outline: none;
}
.blackbutton {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}

.blackbutton:hover {
  border: 1px solid transparent;
  background: #8400a5;
  color: #fff;
}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.25rem;
}

.little-profile .pro-img img {
  width: 40%;
  height: 40%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.banner{
  background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_509107562_2000133320009280346_351827.jpg");
}

label {
  color: white;
  font-family: Montserrat;
  font-weight: lighter;
}

#text-r {
  color: white;
  font-family: Montserrat;
  font-weight: lighter;
}
.pro-img {
  margin-top: -20px;
  margin-bottom: 10px;
}
.card {
  width: 18rem;
}
.card-img-top {
  height: 90px;
}

.photoPic{
  align-content: center;
  padding-left: 40px;
}

  /*foto de perfil*/
  #picture-box{
    height: 100px;
    width: 100px;
    }